header {
    height: 100px;
    background-color: #2C3E50;
}

.main-title {

    background-color: #1ABC9C;
}

.img-cont {
    width: 200px;
    height: 200px;
    background-color: #fff;
}



.portfolio .col {
    background-color: #BA4B63;
}

section {
    border: 1px solid black;
    margin: 20px 0;
}



.about {
    background-color: #1ABC9C;
}