header {
    height: 100px;
    background-color: #2C3E50;
}

.header li {
    cursor: pointer;
}

.main-title {

    background-color: #1ABC9C;
}

.img-cont {
    width: 200px;
}

.portfolio .col * {

    border-radius: 20px;
}

.about {
    background-color: #1ABC9C;
}

input {
    height: 2em;
}

.address-footer {
    background-color: #3A546D;
}

.address-footer i {
    display: inline-block;
    line-height: 100%;
    cursor: pointer;
}

.address-footer span {
    color: #1ABC9C;
}

.bottom-footer {
    background-color: #2C3E50;
    height: 80px;
}

.form-section .form-control {
    border: 0;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
}

.form-section button {
    background-color: #1ABC9C;

}

.line-container {
    width: 250px;
}

.line-bootstrap {
    height: 3px;
}